@charset "UTF-8";
/* @import 'bourbon/bourbon'; */
/* @import 'neat/neat'; */
/* @mixin impff(\$font,\$fn){
	font-family: \$font;
	src: url("'../../font/"+ \$font + "/"+ \$fn + "'");
} */
/* @include bp(lg){
	//screen min1200

}
@include bp(md){
	//screen min992 max1199

}
@include bp(sm){
	//screen min768 max991

}
@include bp(xs){
	//screen min480 max767

}
@include bp(xxs){
	//screen min320 max479

} */
/* line 1, ../content/_forecast-switch.scss */
.forecast-switch-wrapper {
  position: relative;
  top: 169px;
  left: -168px;
  text-align: right;
}
/* line 6, ../content/_forecast-switch.scss */
.forecast-switch-wrapper .forecast-switch {
  width: 60px;
  cursor: pointer;
  opacity: .3;
  font-size: .8em;
  margin-bottom: 10px;
}
/* line 12, ../content/_forecast-switch.scss */
.forecast-switch-wrapper .forecast-switch:not([class*="forecast-active"]):hover {
  background: rgba(250, 250, 250, 0.3);
}
/* line 16, ../content/_forecast-switch.scss */
.forecast-switch-wrapper .forecast-active {
  text-indent: -15px;
  font-size: 1.1em;
  opacity: 1;
}
/* line 20, ../content/_forecast-switch.scss */
.forecast-switch-wrapper .forecast-active::before {
  content: "►";
  font-size: .8em;
  margin-right: 3px;
}

/* line 1, ../content/_sub-forecast.scss */
.sub-forecast-wrapper {
  /* background : #000; */
  width: 615px;
  height: 400px;
  position: absolute;
  top: 208px;
  left: 400px;
}
/* line 8, ../content/_sub-forecast.scss */
.sub-forecast-wrapper ul[class$='-content'] {
  position: absolute;
}
/* line 11, ../content/_sub-forecast.scss */
.sub-forecast-wrapper .bot-content {
  left: -41px;
  top: -22px;
}
/* line 15, ../content/_sub-forecast.scss */
.sub-forecast-wrapper .middle-content {
  left: -5px;
}
/* line 18, ../content/_sub-forecast.scss */
.sub-forecast-wrapper .yesterday-content {
  top: -21px;
  left: 0;
}
/* line 22, ../content/_sub-forecast.scss */
.sub-forecast-wrapper .tide-content {
  top: -16px;
  left: 0;
}

/* line 1, ../content/_today.scss */
.wrapper {
  width: 100%;
  height: 780px;
  background: #333;
  box-shadow: -3px 5px 20px rgba(150, 150, 150, 0.2);
  z-index: 1;
}
/* line 7, ../content/_today.scss */
.wrapper .center {
  width: 85%;
  height: 380px;
  float: right;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 1025px) {
  /* line 7, ../content/_today.scss */
  .wrapper .center {
    left: 15.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 7, ../content/_today.scss */
  .wrapper .center {
    left: 22%;
  }
}
/* line 21, ../content/_today.scss */
.wrapper .center .top-content {
  width: 85%;
  height: 200px;
  box-sizing: border-box;
  position: relative;
  top: -16px;
  display: flex;
  flex-flow: wrap row;
}
/* line 29, ../content/_today.scss */
.wrapper .center .top-content .tempr-content {
  font-size: 12.0em;
  position: relative;
  top: -.45em;
  left: 0;
  line-height: 0;
}
/* line 36, ../content/_today.scss */
.wrapper .center .top-content .min {
  font-size: 1.7em;
  font-weight: 400;
  opacity: .5;
  position: relative;
  top: 5.4em;
}
/* line 43, ../content/_today.scss */
.wrapper .center .top-content .tempr {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}
/* line 48, ../content/_today.scss */
.wrapper .center .top-content .condition-icon, .wrapper .center .top-content .condition {
  display: block;
}
/* line 51, ../content/_today.scss */
.wrapper .center .top-content .weather-status-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  top: 45px;
  left: 55px;
  padding: 0 0;
  text-align: center;
}
/* line 60, ../content/_today.scss */
.wrapper .center .top-content .weather-status-wrapper .condition-icon {
  margin: 0 auto;
}
/* line 63, ../content/_today.scss */
.wrapper .center .top-content .weather-status-wrapper .condition {
  font-size: 1.4em;
  font-weight: 300;
  top: 0px;
  text-align: center;
  line-height: 22px;
}
/* line 71, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper {
  width: 300px;
  height: 150px;
  position: relative;
  padding: 0 0;
  padding-top: 0;
  top: 50px;
  float: right;
  right: -88px;
}
/* line 80, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .wind, .wrapper .center .top-content .condition-wrapper .humidity, .wrapper .center .top-content .condition-wrapper .pop {
  vertical-align: top;
  font-size: .7em;
}
/* line 83, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .wind .wind-text, .wrapper .center .top-content .condition-wrapper .humidity .wind-text, .wrapper .center .top-content .condition-wrapper .pop .wind-text {
  font-size: 1.5em;
  font-weight: 200;
  opacity: .5;
}
/* line 88, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .wind .wind-value, .wrapper .center .top-content .condition-wrapper .humidity .wind-value, .wrapper .center .top-content .condition-wrapper .pop .wind-value {
  font-size: 2.0em;
  font-weight: 400;
  position: relative;
  top: -32px;
}
/* line 95, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .humidity {
  position: relative;
  top: -27px;
}
/* line 98, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .humidity .wind-value {
  top: -10px;
}
/* line 102, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .wind {
  width: 200px;
  height: 50px;
  position: relative;
  top: -13px;
}
/* line 107, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .wind .wind-text, .wrapper .center .top-content .condition-wrapper .wind .wind-value {
  display: block;
}
/* line 110, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .wind .wind-number, .wrapper .center .top-content .condition-wrapper .wind .wind-unit {
  width: 20px;
  height: 20px;
}
/* line 116, ../content/_today.scss */
.wrapper .center .top-content .condition-wrapper .pop {
  position: relative;
  top: -46px;
}
/* line 121, ../content/_today.scss */
.wrapper .center .top-content .condition, .wrapper .center .top-content .wind, .wrapper .center .top-content .humidity, .wrapper .center .top-content .pressure {
  position: relative;
}
/* line 125, ../content/_today.scss */
.wrapper .center .unit-switch {
  position: relative;
  top: -172px;
  left: 200px;
  width: 15px;
  text-align: center;
}
/* line 131, ../content/_today.scss */
.wrapper .center .unit-switch .unit {
  opacity: .3;
  font-size: .8em;
  cursor: pointer;
}
/* line 135, ../content/_today.scss */
.wrapper .center .unit-switch .unit:hover {
  background: rgba(250, 250, 250, 0.3);
}
/* line 139, ../content/_today.scss */
.wrapper .center .unit-switch .unit-active {
  font-size: 1.2em;
  opacity: 1;
}
/* line 142, ../content/_today.scss */
.wrapper .center .unit-switch .unit-active:hover {
  background: transparent;
}

/* line 1, ../content/_footer.scss */
footer {
  position: absolute;
  bottom: 0px;
  font-weight: 100;
  font-size: .8em;
  opacity: .5;
  margin: 0 auto;
  text-align: center;
  padding: 0 0;
  width: 100%;
  height: 30px;
  background: #747787;
  z-index: 100;
  padding-left: 50px;
}
/* line 15, ../content/_footer.scss */
footer a {
  margin-left: 70px;
  text-decoration: none;
  color: #fff;
}
/* line 19, ../content/_footer.scss */
footer a img, footer a span {
  vertical-align: baseline;
}

/* line 1, ../content/_alert.scss */
.alert-content {
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #000;
  z-index: 1;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -ms-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}
/* line 10, ../content/_alert.scss */
.alert-content:hover {
  height: 60px;
}

/* line 1, ../content/_yesterday.scss */
.yesterday-content {
  width: 300px;
  height: 200px;
  visibility: hidden;
  padding-left: 0;
}
/* line 6, ../content/_yesterday.scss */
.yesterday-content .n-day {
  height: 180px;
  position: relative;
  vertical-align: bottom;
  margin-right: 3px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  /* line 6, ../content/_yesterday.scss */
  .yesterday-content .n-day {
    width: 80.5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 6, ../content/_yesterday.scss */
  .yesterday-content .n-day {
    width: 17%;
  }
}
/* line 21, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-date {
  opacity: .3;
}
/* line 24, ../content/_yesterday.scss */
.yesterday-content .n-day .name-n-day {
  font-weight: 800;
  opacity: .5;
  position: relative;
  top: -8px;
  margin-bottom: -24px;
}
@media screen and (min-width: 1025px) {
  /* line 24, ../content/_yesterday.scss */
  .yesterday-content .n-day .name-n-day {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 24, ../content/_yesterday.scss */
  .yesterday-content .n-day .name-n-day {
    font-size: .9em;
  }
}
@media screen and (min-width: 1025px) {
  /* line 40, ../content/_yesterday.scss */
  .yesterday-content .n-day .n-day-max {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 40, ../content/_yesterday.scss */
  .yesterday-content .n-day .n-day-max {
    font-size: 2.0em;
  }
}
/* line 49, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-min {
  opacity: .2;
}
/* line 52, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-max, .yesterday-content .n-day .n-day-min {
  display: inline-block;
}
/* line 55, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-cond-img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -7px;
}
/* line 61, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-cond-img, .yesterday-content .n-day .n-day-max {
  display: block;
}
/* line 64, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-max, .yesterday-content .n-day .n-day-min {
  display: inline-block;
}
/* line 67, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-cond {
  width: 80px;
  position: relative;
  font-size: 1.0em;
  margin-bottom: 5px;
  line-height: 17px;
}
/* line 74, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-wind {
  opacity: .5;
  position: absolute;
  bottom: 30px;
}
/* line 79, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-humidity {
  opacity: .5;
  position: absolute;
  bottom: 15px;
}
/* line 84, ../content/_yesterday.scss */
.yesterday-content .n-day .n-day-pop {
  opacity: .5;
  position: absolute;
  bottom: 0;
}

/* line 1, ../content/_hourly.scss */
.middle-content {
  width: 620px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: -20px;
  left: 0px;
  padding: 0;
  visibility: visible;
}
/* line 12, ../content/_hourly.scss */
.middle-content .hourly-item {
  width: 110px;
  height: 170px;
  margin-right: 5px;
  padding: 0 0;
  margin-bottom: 50px;
}
/* line 18, ../content/_hourly.scss */
.middle-content .hourly-item:hover {
  background: rgba(20, 20, 20, 0.3);
}
/* line 21, ../content/_hourly.scss */
.middle-content .hourly-item * {
  margin: 0;
}
/* line 24, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-wind, .middle-content .hourly-item .hourly-humidity, .middle-content .hourly-item .hourly-pop {
  margin-bottom: -5px;
  opacity: .7;
}
/* line 28, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-wind {
  margin-top: 5px;
}
/* line 30, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-wind .wind-unit {
  font-size: .8em;
  opacity: .3;
}
/* line 35, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-hudimidy {
  bottom: 5px;
}
/* line 38, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-pop {
  bottom: 5px;
}
/* line 41, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-clock {
  font-weight: 500;
  opacity: .2;
  margin-bottom: -10px;
  font-size: 1.0em;
}
/* line 47, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-max {
  width: 30px;
  font-size: 1.8em;
  font-weight: 500;
}
/* line 52, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-min {
  width: 10px;
  position: relative;
  top: -21px;
  left: 30px;
  font-size: .8em;
  font-weight: 200;
}
/* line 60, ../content/_hourly.scss */
.middle-content .hourly-item .hourl-min, .middle-content .hourly-item .hour-max {
  display: inline;
}
/* line 63, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-cond {
  position: relative;
  margin-top: -20px;
  left: -5px;
  width: 70px;
  text-align: center;
}
/* line 69, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-cond .hourly-cond-img {
  width: 40px;
  height: 40px;
  float: left;
  position: relative;
  left: 5px;
}
/* line 76, ../content/_hourly.scss */
.middle-content .hourly-item .hourly-cond .hourly-cond-text {
  width: 44px;
  text-align: center;
  position: relative;
  font-size: .8em;
  left: 3px;
  line-height: 12px;
  top: 3px;
}

/* line 1, ../content/_nextdays.scss */
.bot-content {
  visibility: visible;
  width: 770px;
  /* height: 410px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-center;
  z-index: 1;
}
/* line 9, ../content/_nextdays.scss */
.bot-content .n-day {
  height: 185px;
  position: relative;
  vertical-align: bottom;
  margin-right: 13px;
  margin-bottom: 40px;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
/* line 16, ../content/_nextdays.scss */
.bot-content .n-day:hover {
  background: rgba(250, 250, 250, 0.3);
}
@media screen and (min-width: 1200px) {
  /* line 9, ../content/_nextdays.scss */
  .bot-content .n-day {
    width: 112px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 9, ../content/_nextdays.scss */
  .bot-content .n-day {
    width: 17%;
  }
}
/* line 25, ../content/_nextdays.scss */
.bot-content .n-day .n-day-date {
  opacity: .3;
}
/* line 28, ../content/_nextdays.scss */
.bot-content .n-day .name-n-day {
  position: relative;
  top: -8px;
  font-weight: 800;
  opacity: .5;
  margin-bottom: -24px;
}
@media screen and (min-width: 1025px) {
  /* line 28, ../content/_nextdays.scss */
  .bot-content .n-day .name-n-day {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 28, ../content/_nextdays.scss */
  .bot-content .n-day .name-n-day {
    font-size: .9em;
  }
}
@media screen and (min-width: 1025px) {
  /* line 42, ../content/_nextdays.scss */
  .bot-content .n-day .n-day-max {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 42, ../content/_nextdays.scss */
  .bot-content .n-day .n-day-max {
    font-size: 2.0em;
  }
}
/* line 51, ../content/_nextdays.scss */
.bot-content .n-day .n-day-min {
  opacity: .2;
}
/* line 54, ../content/_nextdays.scss */
.bot-content .n-day .n-day-max, .bot-content .n-day .n-day-min {
  display: inline-block;
}
/* line 57, ../content/_nextdays.scss */
.bot-content .n-day .n-day-cond-img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -7px;
}
/* line 64, ../content/_nextdays.scss */
.bot-content .n-day .n-day-cond-img, .bot-content .n-day .n-day-max {
  display: block;
}
/* line 67, ../content/_nextdays.scss */
.bot-content .n-day .n-day-max, .bot-content .n-day .n-day-min {
  display: inline-block;
}
/* line 70, ../content/_nextdays.scss */
.bot-content .n-day .n-day-cond {
  width: 80px;
  position: relative;
  font-size: 1em;
  margin-bottom: 5px;
  line-height: 17px;
  top: -6px;
  left: 0px;
  text-align: left;
}
/* line 80, ../content/_nextdays.scss */
.bot-content .n-day .n-day-wind {
  opacity: .5;
  position: absolute;
  bottom: 29px;
}
/* line 85, ../content/_nextdays.scss */
.bot-content .n-day .n-day-humidity {
  opacity: .5;
  position: absolute;
  bottom: 17px;
}
/* line 90, ../content/_nextdays.scss */
.bot-content .n-day .n-day-pop {
  opacity: .5;
  position: absolute;
  bottom: 5px;
}

/* line 1, ../content/_tide.scss */
.tide-content {
  width: 615px;
  height: 400px;
  /* background : rgba(\$med-red,.5); */
  visibility: hidden;
  overflow-x: hidden;
}
/* line 7, ../content/_tide.scss */
.tide-content .summary {
  width: 100%;
  height: 50px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 22, ../content/_tide.scss */
.tide-content .details {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 65px;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  padding-left: 0px;
}
/* line 32, ../content/_tide.scss */
.tide-content .details .tide-item {
  width: 130px;
  height: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: rgba(10, 10, 10, 0.5);
}
/* line 38, ../content/_tide.scss */
.tide-content .details .tide-item * {
  text-align: left;
}
/* line 41, ../content/_tide.scss */
.tide-content .details .tide-item .tide-item-time {
  margin-bottom: 10px;
}

/* line 1, ../content/_saving.scss */
.saving {
  display: none;
  height: 0;
  position: absolute;
  top: 200px;
}
@media screen and (min-width: 1025px) {
  /* line 1, ../content/_saving.scss */
  .saving {
    width: 300px;
    left: -378px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 1, ../content/_saving.scss */
  .saving {
    width: 10%;
    left: -326px;
    background: #000;
  }
}
/* line 15, ../content/_saving.scss */
.saving * {
  cursor: pointer;
}
/* line 18, ../content/_saving.scss */
.saving .save {
  width: 52px;
}
/* line 20, ../content/_saving.scss */
.saving .save:hover {
  background: rgba(250, 250, 250, 0.5);
}
/* line 25, ../content/_saving.scss */
.saving .saving-clear {
  width: 50px;
  height: 10px;
  opacity: .3;
  position: relative;
  top: -20px;
}
@media screen and (min-width: 1025px) {
  /* line 25, ../content/_saving.scss */
  .saving .saving-clear {
    left: 225px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 25, ../content/_saving.scss */
  .saving .saving-clear {
    left: 200px;
  }
}
/* line 38, ../content/_saving.scss */
.saving .saving-clear:hover {
  opacity: 1;
}

/* line 44, ../content/_saving.scss */
.hideSaved {
  height: 0;
}

/* line 47, ../content/_saving.scss */
.right {
  height: 430px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  top: -180px;
  left: 50px;
  border-top: 1px solid rgba(250, 250, 250, 0.4);
  padding-top: 20px;
  padding-right: 10px;
}
@media screen and (min-width: 1025px) {
  /* line 47, ../content/_saving.scss */
  .right {
    width: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 47, ../content/_saving.scss */
  .right {
    width: 22.5%;
  }
}
/* line 71, ../content/_saving.scss */
.right .ftr {
  /* width  : 140px; */
  height: 100px;
  margin: 0 20px 0 10px;
}
@media screen and (min-width: 1025px) {
  /* line 71, ../content/_saving.scss */
  .right .ftr {
    width: 45%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 71, ../content/_saving.scss */
  .right .ftr {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 81, ../content/_saving.scss */
  .right .ftr .city-title {
    font-size: 0.9em;
  }
}
/* line 91, ../content/_saving.scss */
.right .ftr .tempr {
  font-size: 1.1em;
  font-weight: 800;
}
@media screen and (min-width: 1025px) {
  /* line 91, ../content/_saving.scss */
  .right .ftr .tempr {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 91, ../content/_saving.scss */
  .right .ftr .tempr {
    font-size: 1.1em;
  }
}
/* line 101, ../content/_saving.scss */
.right .ftr .minx {
  font-size: .8em;
  opacity: .5;
}
/* line 105, ../content/_saving.scss */
.right .ftr .minCond, .right .ftr .imgSrc {
  position: relative;
  top: -40px;
  left: 40px;
}
/* line 110, ../content/_saving.scss */
.right .ftr .minCond {
  top: -44px;
  left: 35px;
  font-weight: 800;
}
/* line 115, ../content/_saving.scss */
.right .ftr .imgSrc {
  width: 20px;
  height: 20px;
}

/* line 22, ../master.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #1D1F21;
  color: #4a6bd9;
  overflow: hidden;
}
/* line 27, ../master.scss */
body ul {
  list-style: none;
}
/* line 30, ../master.scss */
body hr {
  opacity: .3;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  /* line 22, ../master.scss */
  body {
    width: 1280px;
    height: 780px;
  }
}

/* line 38, ../master.scss */
.search-text {
  border: 0;
  background: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  border-radius: 0;
  position: relative;
  left: 41px;
  font-weight: medium;
}
@media screen and (min-width: 1025px) {
  /* line 38, ../master.scss */
  .search-text {
    width: 70%;
    font-size: 2em;
    top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 38, ../master.scss */
  .search-text {
    width: 60%;
    font-size: 1.3em;
    top: 70px;
  }
}
/* line 57, ../master.scss */
.search-text:focus {
  outline: 0;
}
/* line 60, ../master.scss */
.search-text::-webkit-input-placeholder {
  opacity: .4;
}

/* line 65, ../master.scss */
.search, .closeBtn {
  position: relative;
  left: -42px;
  opacity: .4;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  /* line 65, ../master.scss */
  .search, .closeBtn {
    top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 65, ../master.scss */
  .search, .closeBtn {
    top: 70px;
  }
}
/* line 77, ../master.scss */
.search:hover, .closeBtn:hover {
  opacity: .8;
}

/* line 81, ../master.scss */
.closeBtn {
  left: 28px;
  font-size: 1.3em;
}

/* line 85, ../master.scss */
.search {
  left: -260px;
}
@media screen and (min-width: 1025px) {
  /* line 85, ../master.scss */
  .search {
    top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 85, ../master.scss */
  .search {
    width: 6%;
    height: 6%;
    top: 76px;
  }
}

/* line 97, ../master.scss */
.time-date {
  width: 250px;
  height: 50px;
  position: relative;
  left: 41px;
  text-align: right;
  top: -3px;
  color: #fff;
}
/* line 105, ../master.scss */
.time-date .time, .time-date .date {
  width: 250px;
  height: 30px;
  position: relative;
  display: inline-block;
  top: 10px;
  color: #747787;
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  /* line 105, ../master.scss */
  .time-date .time, .time-date .date {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 105, ../master.scss */
  .time-date .time, .time-date .date {
    font-size: 1.0em;
  }
}
/* line 120, ../master.scss */
.time-date .time {
  font-weight: 500;
}
/* line 122, ../master.scss */
.time-date .time .time-text {
  font-weight: 200;
}

/* line 128, ../master.scss */
.top {
  width: 380px;
  height: 140px;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 20px;
  left: 50px;
}
/* line 139, ../master.scss */
.top .flag-img {
  position: relative;
  left: -30px;
  top: 51px;
}

/* line 146, ../master.scss */
.right {
  display: none;
}
