.tide-content{
	position: relative;
	margin-top: 100px;
	width      : 615px;
	height     : 370px;
	visibility: hidden;
	overflow-x: hidden;
	.summary{
		width      : 48%;
		height     : 100px;
		background : #000;
		position   : fixed;
		top        : 180px;
		left       : 450px;
		z-index    : 1;
		box-sizing : border-box;
		padding    : 15px 10px 0px 10px;
		.sumHight{
			display    : inline-block;
			margin     : 0 20px 0 0px ;
			box-sizing : border-box;
		}
		.sumLow{
			display     : inline-block;
			margin-left : 100px;
			box-sizing  : border-box;
		}
		.select-date{
			position     : relative;
			display      : inline-block;
			width        : 50px;
			height       : 50px;
			padding-top  : 12px;
			box-sizing   : border-box;
			text-align   : center;
			background   : $med-blue;
			margin-right : 30px;
			top          : 40px;
			margin-left  : -1%;
			cursor       : pointer;
			z-index      : 2;
			&:hover{

			}
		}
	}
	.tide-date-wrapper{

	}
	.details{
		height: auto;
		z-index         : 0;
		position        : absolute;
		left            : 0px;
		top             : 25px;
		width           : 100%;
		display         : flex;
		flex-flow       : wrap row;
		justify-content : flex-start;
		padding-left    : 0px;
		.tide-item1{
			background: $med-blue;
			visibility: visible;
		}
		.tide-item2{
			background: $med-yellow;
			visibility: hidden;
		}
		.tide-item3{
			background: $med-orange;
			visibility: hidden;
		}
		.tide-item4{
			background: $med-brown;
			visibility: hidden;
		}
		.tide-item5{
			background: $med-gray;
			visibility: hidden;
		}

		li[class^='tide-item']{
			position: relative;
			display: inline-block;
			width         : 130px;
			height        : 100px;
			margin-bottom : 20px;
			margin-right  : 20px;
			*{
				text-align: left;
			}
			.same-date{

			}

			.tide-item-time{
				margin-bottom: 10px;
			}
			.tide-item-high{

			}
			.tide-item-low{

			}
		}
	}
}
